<%- include('./partials/header') %>
  	<main>
		<div id="main_content" class='main-conatiner'>
    		<%- include('./partials/body') %>
		</div>
  	</main>
  	<footer >
  		<%- include('./partials/footer') %>
  	</footer>
</body>
</html>